{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/v/bs-3.3.6/jqc-1.12.3/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/af-2.1.2/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.1.3/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.css"
/>
<style>
  body {
    padding: 1em 3em;
  }
  .dataTables_filter {
    float: right;
    margin-bottom: 1em;
  }
  .dataTables_filter:after {
    clear: both;
  }
  .dt-buttons a .glyphicon {
    visibility: hidden;
  }
  .dt-buttons a:hover .glyphicon {
    visibility: visible;
  }

  /* CSS */
  .button-68 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
      sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }

  .button-68:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.35s;
  }

  .button-68:active {
    transform: translateY(2px);
    transition-duration: 0.35s;
  }

  .button-68:hover {
    box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
  }

  /* CSS */
  .button-41 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #00d775, #00bd68);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue",
      Arial, sans-serif;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
  }

  .button-41:hover {
    background: #00bd68;
  }

  /* CSS */
  .button-1 {
    background-color: #ea4c89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-1:hover,
  .button-1:focus {
    background-color: #f082ac;
  }
</style>
{% include 'core/dashboard/dashboardNav.html' %}

<div class="home_content">
  <div class="wr">
    <h3 style="text-align: center">Subjects Manager</h3>
    <table
      id="example"
      class="table table-striped table-bordered dataTable"
      cellspacing="0"
      width="100%"
      role="grid"
      aria-describedby="example_info"
      style="width: 100%"
    >
      <thead>
        <tr role="row">
          <th
            class="sorting"
            tabindex="0"
            aria-controls="example"
            rowspan="1"
            colspan="1"
            aria-label="id: activate to sort column ascending"
            style="width: 100px"
          >
            id
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="example"
            rowspan="1"
            colspan="1"
            aria-label="Class name: activate to sort column ascending"
            style="width: 100px"
          >
            Class name
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="example"
            rowspan="1"
            colspan="1"
            aria-label="Total subjects: activate to sort column ascending"
            style="width: 100px"
          >
            Total students
          </th>
          <th
            class="sorting_desc"
            tabindex="0"
            aria-controls="example"
            rowspan="1"
            colspan="1"
            aria-label="Total students: activate to sort column ascending"
            aria-sort="descending"
            style="width: 100px"
          >
            Total subjects
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="example"
            rowspan="1"
            colspan="1"
            aria-label="Start on: activate to sort column ascending"
            style="width: 100px"
          >
            View
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="example"
            rowspan="1"
            colspan="1"
            aria-label="Growth: activate to sort column ascending"
            style="width: 100px"
          >
            Edit
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="example"
            rowspan="1"
            colspan="1"
            aria-label="Growth: activate to sort column ascending"
            style="width: 100px"
          >
            Delete
          </th>
        </tr>
      </thead>

      <tbody>
        {% if subjects %} {% for sub in subjects %}

        <tr role="row" class="{{sub.css_class}}">
          <td class="">{{sub.id}}</td>
          <td>{{sub.class_name}}</td>
          <td>{{sub.total_stu}}</td>
          <td class="sorting_1">{{sub.total_sub}}</td>
          <td>
            <button class="button-1" role="button">View</button>
          </td>
          <td>
           <a href="{% url 'subjects' %}"> <button class="button-1" role="button">Edit</button></a>
          </td>
          <td>
            <button class="button-1" role="button">Delete</button>
          </td>
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>
  </div>
</div>
<script>
  $(function () {
    $("#example").dataTable({
      paging: false,
      fixedHeader: {
        header: true,
      },
      dom: "Bfrtip",
      buttons: [
        {
          extend: "excel",
          text: 'Excel <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>',
        },
        {
          extend: "pdf",
          text: 'PDF <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>',
        },

        "copy",
        "pdf",
        "colvis",
      ],
    });
  });
</script>
<script src="https://cdn.datatables.net/v/bs-3.3.6/jqc-1.12.3/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/af-2.1.2/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.1.3/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
