{% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" /> {% endblock link%}

<div class="body">
  <footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">
        Welcome to Jirtali Union High School, where knowledge meets opportunity
        and students soar to new heights. With a rich heritage and a commitment
        to academic excellence, we provide a nurturing environment that empowers
        students to thrive. Our dedicated educators and diverse programs prepare
        students for success in both their academic pursuits and personal
        development. Join us on this remarkable educational journey at Jirtali
        Union High School.
      </h1>

      {% comment %}
      <h2>Contact</h2>

      <address>
        5534 Somewhere In. The World 22193-10212<br />

        <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
      </address>
      {% endcomment %}
    </div>

    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Contact</h2>

        <ul class="nav__ul">
          <li>
            <a href="#">Location:Jirtali Bazar, Begumgonj, Noakhali </a>
          </li>

          <li>
            <a href="#">Phone:019XXXXXXXXXXX </a>
          </li>

          <li>
            <a href="#">Email:Contact@JirtaliUnionHighSchool.com </a>
          </li>
        </ul>
      </li>

      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Quick Links</h2>

        <ul class="nav__ul nav__ul--extra">
          <li>
            <a href="#">Home</a>
          </li>

          <li>
            <a href="#">Gallery</a>
          </li>

          <li>
            <a href="#">Teachers</a>
          </li>
        </ul>
      </li>

      <li class="nav__item">
        <h2 class="nav__title">Legal</h2>

        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>

          <li>
            <a href="#">Terms of Use</a>
          </li>

          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="legal">
      <p>&copy; 2023 JIRTALI UNION HIGH SCHOOL. All rights reserved.</p>

      <div class="legal__links">
        <span
          >Made by <span class="heart">♥</span> Zayan</span
        >
      </div>
    </div>
  </footer>
</div>
