{% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/gallerye.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock link %}

<section class="wrapper-full tab-container effectTab-header" id="style_12">
  <div class="wrapper tab-item">
    <div class="custom-row">
      <div class="wrapper" align="center">
        <a href="https://northsgate.com" target="_blank">
          <h1 class="ti title">Gallery</h1>
        </a>
      </div>
      <div class="column-12 column-xs-12 tab">
        <div class="custom-row">
          <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab">
            <div class="effect effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>Three column 4</h2>
                <p>poppins Design for smart design.</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><i class="fa fa-facebook-official"></i
                  ></a>
                  <a href="#" class="social-icon-2"
                    ><i class="fa fa-twitter-square"></i
                  ></a>
                  <a href="#" class="social-icon-3"
                    ><i class="fa fa-youtube-square"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab hide visible-sm visible-md"
          >
            <div class="effect effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>Three column 4</h2>
                <p>poppins Design for smart design.</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><i class="fa fa-facebook-official"></i
                  ></a>
                  <a href="#" class="social-icon-2"
                    ><i class="fa fa-twitter-square"></i
                  ></a>
                  <a href="#" class="social-icon-3"
                    ><i class="fa fa-youtube-square"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="column-8 hide-xs hide-sm hide-md box-tab">
            <div class="effect grid-width8 effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2 class="col8-head">grid column 8</h2>
                <p>Era of modern design and advanced transitions</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><i class="fa fa-facebook-official"></i
                  ></a>
                  <a href="#" class="social-icon-2"
                    ><i class="fa fa-twitter-square"></i
                  ></a>
                  <a href="#" class="social-icon-3"
                    ><i class="fa fa-youtube-square"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="column-6 hide-xs hide-sm hide-md box-tab">
            <div class="effect grid-width6 effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>column 6 grid</h2>
                <p>Better font for web designing</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><i class="fa fa-facebook-official"></i
                  ></a>
                  <a href="#" class="social-icon-2"
                    ><i class="fa fa-twitter-square"></i
                  ></a>
                  <a href="#" class="social-icon-3"
                    ><i class="fa fa-youtube-square"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="column-3 hide-xs hide-sm hide-md box-tab">
            <div class="effect grid-width3 effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>column 3</h2>
                <p>Biggest Impact</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><i class="fa fa-facebook-official"></i
                  ></a>
                  <a href="#" class="social-icon-2"
                    ><i class="fa fa-twitter-square"></i
                  ></a>
                  <a href="#" class="social-icon-3"
                    ><i class="fa fa-youtube-square"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="column-3 hide-xs hide-sm hide-md box-tab">
            <div class="effect grid-width3 effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>column 3</h2>
                <p>online program</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><i class="fa fa-facebook-official"></i
                  ></a>
                  <a href="#" class="social-icon-2"
                    ><i class="fa fa-twitter-square"></i
                  ></a>
                  <a href="#" class="social-icon-3"
                    ><i class="fa fa-youtube-square"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
