{% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/gallerye.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock link %}

<section class="wrapper-full tab-container effectTab-header" id="style_12">
  <div class="wrapper tab-item">
    <div class="custom-row">
      <div class="wrapper" align="center">
        <a href="https://northsgate.com" target="_blank">
          <h1 class="ti title">Gallery</h1>
        </a>
      </div>
      <div class="column-12 column-xs-12 tab">
        <div class="custom-row">
          <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab">
            <div class="effect effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>PlayGround</h2>
                <p>Slides, swings, jungle gym, sandbox, basketball court, tetherball, seesaw, merry-go-round, climbing wall, trampoline.</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><button class="btn btn-darken btn-inline">
                      Learn more...<i class="bx bx-right-arrow-alt"></i>
                    </button></i
                  ></a>
                  
                </div>
              </div>
            </div>
          </div>
          <div
            class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab hide visible-sm visible-md"
          >
            <div class="effect effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>Offices</h2>
                <p>Principal, secretary, counselor, teacher, administrator, librarian, janitor, receptionist, nurse, IT specialist, accountant, registrar, attendance clerk, guidance counselor, school psychologist, curriculum coordinator, human resources manager, office assistant, finance officer, facilities manager.</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><i class="fa fa-facebook-official"></i
                  ></a>
                  <a href="#" class="social-icon-2"
                    ><i class="fa fa-twitter-square"></i
                  ></a>
                  <a href="#" class="social-icon-3"
                    ><i class="fa fa-youtube-square"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="column-8 hide-xs hide-sm hide-md box-tab">
            <div class="effect grid-width8 effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>Offices</h2>
                <p>Principal, secretary, counselor, teacher, administrator, librarian, janitor, receptionist, nurse, IT specialist, accountant, registrar, attendance clerk, guidance counselor, school psychologist, curriculum coordinator, human resources manager, office assistant, finance officer, facilities manager.</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><button class="btn btn-darken btn-inline">
                      Learn more...<i class="bx bx-right-arrow-alt"></i>
                    </button></i
                  ></a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="column-6 hide-xs hide-sm hide-md box-tab">
            <div class="effect grid-width6 effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>Science</h2>
                <p>Laboratory, microscope, Bunsen burner, test tubes, beakers, petri dishes, pipettes, centrifuge, fume hood, safety goggles, lab coat, chemicals, experiment, research, data analysis, microscope slide, DNA sequencing, electron microscope, lab technician, scientific method.</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><button class="btn btn-darken btn-inline">
                      Learn more...<i class="bx bx-right-arrow-alt"></i>
                    </button></i
                  ></a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="column-3 hide-xs hide-sm hide-md box-tab">
            <div class="effect grid-width3 effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>Commerce</h2>
                <p>Accounting, finance, marketing, sales, business administration, economics, entrepreneurship, supply chain management, advertising, retail.</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><button class="btn btn-darken btn-inline">
                      Learn more...<i class="bx bx-right-arrow-alt"></i>
                    </button></i
                  ></a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="column-3 hide-xs hide-sm hide-md box-tab">
            <div class="effect grid-width3 effect-twelve">
              <img
                src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                class="img-fluid"
              />
              <div class="tab-text">
                <h2>Arts</h2>
                <p>Painting, sculpture, photography, drawing, ceramics, theater, dance, music, literature, film.</p>
                <div class="icons-block">
                  <a href="#" class="social-icon-1"
                    ><button class="btn btn-darken btn-inline">
                      Learn more...<i class="bx bx-right-arrow-alt"></i>
                    </button></i
                  ></a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
