{% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/teachers.css' %}" /> {% endblock link %}

<div class="responsive-container-block containerr">
  <p class="text-blk team-head-text">Got Gpa`s Students</p>
  <div class="responsive-container-block">
    {% if students %} {% for student in students %}

    <div
      class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container"
    >
      <div class="card">
        <div class="team-image-wrapper">
          <img
            class="team-member-image"
            src={{student.img}}
          />
        </div>
        <p class="text-blk name">{{student.name}}</p>
        <p class="text-blk position">Session: {{student.session}}</p>
        <p class="text-blk feature-text">{{student.motto}}</p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img
              class="twitter-icon"
              src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg"
            />
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img
              class="facebook-icon"
              src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg"
            />
          </a>
        </div>
      </div>
    </div>

    {% endfor %} {% endif %}
  </div>
</div>
