{% load static %} {% block link %}
<link
  href="{% static 'css/navigation.css' %}"
  rel="stylesheet"
  type="text/css"
/>

{% endblock link %}
<header class="headerr" id="headerr">
  <nav class="navbar container">
    <a href="#" class="brand logo"
      ><img src="https://i.ibb.co/gScqRBc/school-logoo.png" alt=""
    /></a>
    <div class="burger" id="burger">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </div>
    <div class="menu" id="menu">
      <ul class="menu-inner">
        <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
        <li class="menu-item"><a href="#gallery" class="menu-link">Gallery</a></li>
        <li class="menu-item"><a href="#footer" class="menu-link">Contact</a></li>
        <li class="menu-item"><a href="#notifications" class="menu-link">Notices</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Login</a></li>
      </ul>
    </div>
    <button class="switch" id="switch">
      <i class="switch-light bx bx-sun"></i>
      <i class="switch-dark bx bx-moon"></i>
    </button>
  </nav>
</header>
<main class="main">{% include 'core/Carousel.html' %}</main>
<script>
  const navbarMenu = document.getElementById("menu");
  const burgerMenu = document.getElementById("burger");
  const headerMenu = document.getElementById("header");
  const overlayMenu = document.querySelector(".overlay");

  // Open Close Navbar Menu on Click Burger
  if (burgerMenu && navbarMenu) {
    burgerMenu.addEventListener("click", () => {
      burgerMenu.classList.toggle("is-active");
      navbarMenu.classList.toggle("is-active");
    });
  }

  // Close Navbar Menu on Click Links
  document.querySelectorAll(".menu-link").forEach((link) => {
    link.addEventListener("click", () => {
      burgerMenu.classList.remove("is-active");
      navbarMenu.classList.remove("is-active");
    });
  });

  // Fixed Navbar Menu on Window Resize
  window.addEventListener("resize", () => {
    if (window.innerWidth >= 992) {
      if (navbarMenu.classList.contains("is-active")) {
        navbarMenu.classList.remove("is-active");
        overlayMenu.classList.remove("is-active");
      }
    }
  });

  // Dark and Light Mode on Switch Click
  document.addEventListener("DOMContentLoaded", () => {
    const darkSwitch = document.getElementById("switch");

    darkSwitch.addEventListener("click", () => {
      document.documentElement.classList.toggle("darkmode");
      document.body.classList.toggle("darkmode");
    });
  });
</script>
