{% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/teachers.css' %}" /> {% endblock link %}

<div class="responsive-container-block containerr" id='teachers'>
  <p class="text-blk team-head-text">Honourable Teachers</p>
  <div class="responsive-container-block">
    {% if teachers %} {% for teacher in teachers %}

    <div
      class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container"
    >
      <div class="card">
        <div class="team-image-wrapper">
          <img
            class="team-member-image"
            src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png"
          />
        </div>
        <p class="text-blk name">{{teacher.name}}</p>
        <p class="text-blk position">{{teacher.role}}</p>
        <p class="text-blk feature-text">{{teacher.moto}}</p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img
              class="twitter-icon"
              src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg"
            />
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img
              class="facebook-icon"
              src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg"
            />
          </a>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
